body {
  background-image: url('./images/ancient-antique-art-cropped.jpg');
  background-attachment: fixed;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
}


/* Fonts:
font-family: 'Permanent Marker', cursive;
font-family: 'Just Another Hand', cursive; */

/* Target resolutions:
    < 768px
    > 768px
    > 992px
    > 1200px
*/

/* .close-nav {
  z-index: -10;
  background-color: #99f;
  opacity: 0.5;
  width: 200vw;
  height: 100vh;
  position: fixed;
} */